.fondo--web {
    background-color: #f5f6f8;
    
}
.title {
    
    background-color: #5964e0;
    color: white;
    margin: -8px;
    font: bold 20px sans-serif;
    padding: 30px 90px 60px;
    border-bottom-left-radius: 50px;
}
.box{
    margin: -38px 170px -30px 80px;
    border-radius: 10px;
    background: white;
    padding: 25px;
    
    font: bold 15px sans-serif;
    display: inline-block;
}

.box__primary{
    background-color: none;
    margin-left: -5px;
    
}
.Lupa {
    padding: 0px 5px;
}
.ubi {
    padding-left: 100px;
}
.search--filter {
    border: none;
    width: 250px;
    background: none;
    margin-top: -20px;
}
.box__second{
    background-color: none;
    
}
.search--ubication {
    border: none;
    width: 250px;
    background: none;
    margin-left: -300px;
    margin-right: 10px;
}
.box__third{
    padding: 18px 0px 20px 0px;
    margin-right: 100px;
    background: none;
}
.check {
    margin: 5px 10px 5px -150px;
}
.button--search{
    color: white;
    background-color: #5964e0;
    border: none;
    padding: 10px 25px;
    margin-left: 10px;
    margin-right: -100px;
    border-radius: 5px;
}
.check{
    background-color: red;
}
.seccion{
    margin:  80px;
    display: inline-block;
    background: white;
    border-radius: 10px;
}
.Box__imagen{
    position: absolute;
    margin-top: -25px;
    margin-left: 25px;
    border-radius: 10px;
}
.Box__date {
    font:  15px sans-serif;
    color: #9fa5aa;
    padding: 20px 208px 0px 25px;
}
.Box__name {
    font:  bold 20px sans-serif;
    padding: 0px 68px 0px 25px;
}
.Box__description {
    font:  15px sans-serif;
    color: #9fa5aa;
    padding: 0px 25px 0px;
}
.Box__location {
    font:  bold 12px sans-serif;
    color: #6b71b4;
    padding: 0px 25px 0px;
}
.Box--1 {
    margin-bottom: 0;
}

.Box--2 {
    margin: 30px -50px 0px;
}
.Box--3 {
    margin: 30px 10% 0px 80px;
}

.Box--5 {
    margin: 30px -50px 300px;
}
