h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

h2{
    font: bold 14px sans-serif;
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}

body {
    text-align: center;
}

.agrupar{
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
    
}
.cabecera {
    background: #fffbb9;
    border: 1PX solid #999999;
    padding: 20px;
}
.cabecera h1 {
    text-align: left;
}

.menu{
    background: #cccccc;
    padding: 5px 15px;
    text-align: left;
    
}

.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}

.seccion {
    margin: 20px;
    width: 600px;
    float: left;
}

article {
    background: #fffbcc;
    border: 1px solid #999;
    border-radius: 10%;
    padding: 20px;
    margin-bottom: 15px;

}
time {
    color: #999999;
}
article footer {

    text-align: right;
}

.columna {
    width: 200px;
    border: 1px solid #999999;
    float: left;
    background: #fffbcc;
    margin-top: 20px;
}

.pie {
    clear: both;
    padding: 20px;
    background:#999999;
}

img {
    width: 500px;
}
