/*
  Challenge #2 - Basic CSS:

    1. Usar Variables CSS
    2. Organizar el código CSS por secciones
    3. NO usar CSS Flex o CSS Grid
    4. Hacer uso de unidades de medida relativas

  * Para colores guiarse del archivo style-guide.css
*/
body{background: lightgray;}
* {
  font-family: 'Karla', sans-serif;

}
section{
  
  background-color: #ffffff;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px 10px 0px 0px;
  
  text-align: center;
}
section1{
  background-color:  #46f8f5;
  float: left;
  width: 40%;
  margin-right: 10%;
  
  border-radius: 0px 0px 10px 0px;
  color: white;

}
section2{
  background-color: #39cfcd;
  float: left;
  width: 40%;
  margin-left: 10%;
  
  text-align: center;
  border-radius: 0px 0px 0px 10px;
  color: white;
}
button{
 
}




aside{
  float: left;
}