body {
    
    text-align: center;
}
.seccion {
    font: lighter 15px sans-serif;
    text-align: left;
    border: 1px soli#faf9f9;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    margin-top: 15px;
    margin: 0px 680px;
    padding: 25px;
    background: #faf9f9;
    

}
section h3 {
    color: #37a6a8;
    font: lighter 20px sans-serif;
}

.seccion h4{
    color: #c0df34;
}

.seccion p {
    color: #b3b7bb;
}

section li{
    list-style: none;
    font: lighter 12px sans-serif;
}
.seccion3 h4{
    font: bolder 15px sans-serif;
    padding-left: 40px;
}

.seccion2 {
    color: white;
    background:#2bb3b1;
    text-align: left;
    border: 1px solid#2bb3b1;
    border-bottom-left-radius: 5%;
    margin-left: 680px;
    padding: 26px;
    padding-top: 5px;
    padding-right: 30px;
    float: left;
    font: lighter 13px sans-serif;
}
span{
    color: rgba(245, 245, 245, 0.575)
    
}
.boton {
    text-align: left;
    background: #c0df34;
    color: white;
    padding: 5px 75px;
    border: 1px solid  #c0df34;
    border-radius: 5%;
    margin: 0px 10px;
    margin-top: 5px;;
    margin-right: 15px;
    margin-left: 0px;
}

.precio{
    font: bolder 20px sans-serif;
    color: white;
}

.seccion3 {
    color: white;
    background: #4abebd;
    text-align: left;
    border: 1px solid #4abebd;
    border-bottom-right-radius: 5%;
    margin-right : 680px;
    padding: 26.5px;
    padding-top: 5px;
    padding-right: 73.3px;
    padding-left: 8.8px;
    padding-bottom: 1px;
    float: right;
    
}
.seccion3 ul{
    color: rgba(245, 245, 245, 0.719)
}

