* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 10px;
}

article {
  flex-basis: 100%;
  flex-grow: 1;
  width: 100%;
  margin: 20px;
  border: 1px solid blue;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

article section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.ibk-button {
  padding: 12px 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #00bb31; /*#02dd68*/
  color: white;
  font-size: 12px;
  font-weight: 600;
  margin: auto;
  cursor: pointer;
  transition: transform 0.3s ease-in;
  /* transition-property: background, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; */
}

/* .ibk-button:hover {
  background: #43f071;
} */

.ibk-button:active {
  transform: translateY(5px);
}

.ibk-button--animate {
  opacity: 0;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: slideUp 0.8s ease-in;
  /* animation-delay: 1.5s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: reverse; */
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
